* {
  margin:0;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
ell{
  display: flex;
  align-content: center;;
}

item{
  background-color: yellow;
  margin: auto;
  font-family: "Book Antiqua", serif;
  font-size: medium;
  text-shadow: cornflowerblue;
}
/*todo*/

.flex-container{
  display: flex;
  width: 800px;
  background-color: antiquewhite;
  margin: auto;
}

.flex-container>div{
  padding: 5px;
  margin: 10px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: darkgray;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: darkgray;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: darkgray;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: darkgray;
  box-shadow: darkgray ;
}